<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Multi_Cabs_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectDB</display-name>
    <servlet-name>ConnectDB</servlet-name>
    <servlet-class>com.shiwani.dbcon.ConnectDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectDB</servlet-name>
    <url-pattern>/ConnectDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.shiwani.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteAdd</display-name>
    <servlet-name>RouteAdd</servlet-name>
    <servlet-class>com.shiwani.services.RouteAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteAdd</servlet-name>
    <url-pattern>/RouteAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffAdd</display-name>
    <servlet-name>StaffAdd</servlet-name>
    <servlet-class>com.shiwani.services.StaffAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffAdd</servlet-name>
    <url-pattern>/StaffAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStaff</display-name>
    <servlet-name>LoginStaff</servlet-name>
    <servlet-class>com.shiwani.services.LoginStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStaff</servlet-name>
    <url-pattern>/LoginStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.shiwani.services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.shiwani.services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CabSearch</display-name>
    <servlet-name>CabSearch</servlet-name>
    <servlet-class>com.shiwani.services.CabSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CabSearch</servlet-name>
    <url-pattern>/CabSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ola_Book</display-name>
    <servlet-name>Ola_Book</servlet-name>
    <servlet-class>com.shiwani.services.Ola_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ola_Book</servlet-name>
    <url-pattern>/Ola_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uber_Book</display-name>
    <servlet-name>Uber_Book</servlet-name>
    <servlet-class>com.shiwani.services.Uber_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uber_Book</servlet-name>
    <url-pattern>/Uber_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Red_Bus_Book</display-name>
    <servlet-name>Red_Bus_Book</servlet-name>
    <servlet-class>com.shiwani.services.Red_Bus_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Red_Bus_Book</servlet-name>
    <url-pattern>/Red_Bus_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Go_Green_Book</display-name>
    <servlet-name>Go_Green_Book</servlet-name>
    <servlet-class>com.shiwani.services.Go_Green_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Go_Green_Book</servlet-name>
    <url-pattern>/Go_Green_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentType</display-name>
    <servlet-name>PaymentType</servlet-name>
    <servlet-class>com.shiwani.services.PaymentType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentType</servlet-name>
    <url-pattern>/PaymentType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ola_Pay</display-name>
    <servlet-name>Ola_Pay</servlet-name>
    <servlet-class>com.shiwani.services.Ola_Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ola_Pay</servlet-name>
    <url-pattern>/Ola_Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.shiwani.services.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteEdit</display-name>
    <servlet-name>RouteEdit</servlet-name>
    <servlet-class>com.shiwani.services.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteEdit</servlet-name>
    <url-pattern>/RouteEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBooking</display-name>
    <servlet-name>MyBooking</servlet-name>
    <servlet-class>com.shiwani.services.MyBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBooking</servlet-name>
    <url-pattern>/MyBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditR</display-name>
    <servlet-name>EditR</servlet-name>
    <servlet-class>com.shiwani.services.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditR</servlet-name>
    <url-pattern>/EditR</url-pattern>
  </servlet-mapping>
</web-app>